.no-recipes {
    width: 100%;
    text-align: center;
    color: white;
}

.recipe-listing-overview {
    .btn-secondary {
        background-color: var.$background-light-color;
        margin-right: .625rem;
    }
}

.recipe-overview-search {
    position: relative;
    margin: auto;
    margin-bottom: 1.5625rem;

    .form-control {
        height: 3.4375rem;
        background-color: var.$background-light-color;
        font-size: 1rem;
    }

    .btn {
        background-color: var.$background-light-color;
        padding: 0 .9375rem;
        position: absolute;
        right: 0;
        height: 3.4375rem;
        
        .icon {
            width: 1.125rem;
            height: 1.125rem;
        }
    }
}

.recipe-overview-item-link {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        cursor: pointer;

        .recipe-overview-img {

            img {
                transform: scale(1.2);
                transition: all .4s ease-in-out;
            }

        }

        .recipe-overview-name {
            color: var.$white-text;
            transition: all .4s ease-in-out;
        }
    }
}

.recipe-overview-search-results {
    margin-bottom: 1.5625rem;
    p {
        text-align:center;
        color: white;
        font-size: 1.375rem;
        font-weight: normal;    
    }
}

.recipe-overview-img {
    border-radius: .9375rem;
    overflow: hidden;

    img {
        height: 10rem;
        object-fit: cover;
        transition: all .4s ease-in-out;
    }
}


.recipe-overview-filter-btn {
    margin-bottom: 1.5625rem;
    .btn {
        display: flex;
        align-items: center;
    }

    .icon-tabler-adjustments-horizontal {
        width: 1.5625rem;
        height: 1.5625rem;
    }
}

.is-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;
    .spinner-border {
        border: none;
        animation: 1.25s linear infinite spinner-border;
    }
}

.recipe-overview-preptime {
    font-size: .9375rem;
    color: white;
    display: inline-block;
    margin-top: .625rem;
}

.recipe-overview-name {
    font-size: 1.125rem;
    color: white;
    height: 2.5rem;
    display: -webkit-box;
    transition: all .4s ease-in-out;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}


.recipe-overview-tag {
    overflow: hidden;
    white-space: nowrap;
    font-size: .75rem;
    max-width: 8.5rem;
    margin-right: .3125rem;
    margin-bottom: .3125rem;
    text-overflow: ellipsis;
}

@include media-breakpoint-up(md) {  
    .recipe-overview-img {
        img {
            height: 20rem;
        }
    } 

    .recipe-overview-tag {
        font-size: .9375rem;
        margin-bottom: .625rem;
    }

    .recipe-overview-container {
        max-width: 72.5rem;
        margin: 0 auto;
    }

    .recipe-overview-filter-btn  {
        margin-bottom: 3.125rem;
    }

    .recipe-overview-name {
        font-size: 1.5rem;
        height: 3.75rem;
    }

    .recipe-overview-search {
        margin-bottom: 3.125rem;

        .form-control {
            height: 2.8125rem;
        }
    
        .btn {
            height: 2.8125rem;
        }
    }    
}

@include media-breakpoint-up(xl) {   
    .recipe-listing-overview  {
        margin-top: 3.75rem;
    }
}