###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
/mysql/
/app/mysql/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/app/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/app/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/app/node_modules/
/app/public/build/
/app/npm-debug.log
/app/yarn-error.log
###< symfony/webpack-encore-bundle ###
