@use "../variables/var.scss";

.login-wrapper {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.logo {
  padding-top: 1.5rem;
  text-align: center;
  margin: 0 auto;

  svg {
    max-width: 6.875rem;
  }
}

.form {
  margin-top: 3.125rem;

  form {
    width: 90%;
    div {
      position: relative;
    }

    .form-control {
      background-color: var.$input-color;
      height: 2.8125rem;
      font-size: 1rem;
    }
  }

  .btn {
    display: flex;
    margin-left: auto;
    color: white;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.4375rem 0.9375rem;
    border: none;
    transition: all ease-out 0.3s;
    margin-top: 1.25rem;
  }

  .btn-secondary {
    background-color: var.$tag-bg-color;
    &:hover {
      background-color: darken(var.$background-color, 10%);
      transition: all ease-in 0.3s;
    }
  }

  .form-check {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 0.9375rem;

    input {
      margin-top: 0;
      margin-left: -1.6875rem;
      background-color: var.$input-color;
      border-radius: 0;
    }
  }

  .form-check-label {
    color: var.$white-text;
    font-size: 0.8125rem;
    font-weight: 500;
    margin-top: 0;
    margin-left: 0.75rem;
  }
}

.btn-login-wrapper {
  .btn {
    margin-left: 0.4375rem;

    &.btn-login {
      margin-left: 0.625rem;
    }
  }
}

.title-box {
  h1 {
    font-size: 1.75rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1.5625rem;
    font-weight: 500;

    svg {
      margin-right: -0.375rem;
      margin-left: -2.1875rem;
    }
  }
}

.btn-register-wrapper {
  margin-top: 1.875rem;
  span {
    color: var.$white-text;
  }

  a {
    text-decoration: none;
  }
}

@include media-breakpoint-up(md) {
  .logo {
    text-align: left;

    svg {
      max-width: none;
    }
  }

  .btn-register-wrapper {
    margin-top: 0; 
  }
}
@include media-breakpoint-up(xl) {
  .form {
    margin-top: 15.9%;
    form {
      width: 30%;
    }
  }
}
