.alert {
    border: none;
    background-color: var.$background-color;
    color: var.$white-text;
    min-height: 2.8125rem;
    border-radius: 0;
    line-height: 2.8125rem;
    padding:0 .9375rem;

    &.alert-success {
        background-color: var.$primary;
        color: white;
    }

    &.alert-warning {
        background-color: var.$warning;
        color: black;
    }
}

.alert-danger {
    background-color: var.$red-color;
    color: white;
}