.alert {
    border: none;
    background-color: var.$background-color;
    color: var.$white-text;
    height: 2.8125rem;
    border-radius: 0;
    line-height: 2.8125rem;
    padding:0 .9375rem;
}

.alert-danger {
    background-color: var.$red-color;
    color: white;
}