#filterIngredientsOverview {
    padding: .3125rem;
}

.filter-headline, .filter-ingredients {
    border-bottom: 1px solid var.$border-color;
    padding-bottom: .3125rem;
    margin-bottom: .9375rem;
    p {
        margin-bottom: 0;
        font-weight: 500;
        color: white;
        font-size: 1rem;
    }

    .btn-link {
        background-color: transparent;
        border: none;
        color: var.$white-text;
        text-decoration: none;
        font-size: .8125rem;
        line-height: 1.4375rem;
    }
}

.filter-search {
    .form-control {
        font-size: .875rem;
        height: 2.1875rem;
        margin-bottom: .9375rem;
        background-color: var.$tag-bg-color;
    }
}

.filter-box {
    margin-bottom: .3125rem;
    label {
        font-size: .9375rem;
        color: white;
        margin-left: .9375rem;
        cursor: pointer;

        &:hover {
            color: var.$white-text;
        }
    }

    .form-check-input {
        width: 1rem;
        height: 1rem;
        background-color: var.$tag-bg-color;

        &:hover {
            cursor: pointer;
        }

        &:checked {
            border-color: var.$tag-bg-color;
        }
    }
}

.filter-ingredients {
    margin-top: 3.125rem;
    max-height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: .625rem .9375rem;
    background-color: var.$tag-bg-color;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    &.accordion-item {
        border-bottom: none;
        border-radius: 0;
    }

    .form-control {
        height: 2.1875rem;
        background-color: var.$background-light-color;
        font-size: .875rem;
        margin-bottom: .9375rem;
    }


    .form-check-input {
        background-color: var.$background-light-color;
        border: none;
    }

    .btn-link {
        float: right;
    }
}