.form-control {
    background-color: var.$background-color;
    height: 2.8125rem;
    border-radius: 0;
    border: none;
    font-size: 1.125rem;
    color: $input-plaintext-color;
    width: 100%;
    
    &::placeholder {
      font-weight: 500;
    }

    &:focus {
      background-color: var.$background-color;
      color: white;
    }
}

.form-check-input[type=checkbox] {
  border-radius: 0;
  width: 1.25rem;
  margin: 0;
  height: 1.25rem;
}

.form-select {
  background-color: var.$background-color;
  height: 2.8125rem;
  border-radius: 0;
  border: none;
  font-weight: 500;
  font-size: 1.125rem;
  color: var.$white-text;
  width: 100%;

  &:focus {
    color: white;
  }
}

.multiselect__tags {
  background-color: var.$background-color;
  border-radius: 0;
  border: none;
  font-weight: 500;
  font-size: 1.125rem;
  color: var.$white-text;
  width: 100%;
}

.multiselect__content-wrapper {
  background-color: var.$background-color;
  color: white;
  border: none;
  border-radius: 0;
}

.multiselect__option--highlight {
  background-color: var.$primary;
  color: white;
}

.multiselect__option--selected.multiselect__option--highlight {
  background-color: var.$red-color;
  color: white;
}

.multiselect__single, .multiselect__input {
  border: none;
  border-color: transparent;
  color: var.$white-text;
  background-color: transparent;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 2.5rem;

  &::placeholder {
    color: var.$white-text;
  }
}

.multiselect__option--selected {
  background-color: var.$background-light-color;
  color: white;
}

.multiselect__tags {
  padding: 0 .625rem;
}

.multiselect__tags-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 2.5rem;
}

.multiselect__tag {
  border-radius: 1.25rem;
  font-weight: normal;
  background-color: var.$tag-bg-color;
  margin: .375rem .3125rem;

  i {
    &:hover {
      background-color: var.$border-color;
    }
    &:after {
      color: white;
    }
  }
}

.multiselect__placeholder {
  margin-bottom: 0;
  padding-top: 0;
  line-height: 2.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
