.navigation-wrapper {
    max-width: 105.625rem;
    margin: 0 auto;
    padding: 1.875rem 1.25rem 1.25rem .9375rem;
    .logo {
        padding-top: 0;
        max-height: 2.1875rem;
    }
}

.offcanvas-navigation {
    background-color: var.$background-light-color;
    padding: 0 1.5625rem;

    .btn-close {
        position: relative;
        background: none;
        opacity: 1;
        align-self: end;
        margin-top: 1.875rem;
        margin-left: auto;
        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.mobile-menu {
    z-index: 1;
}


.btn-menu {
    padding: 0 .625rem;
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    img {
       max-height: 1.875rem;
    }
}

.offcanvas-bg {
    position: absolute;
    bottom: -2.8125rem;
    right: 0;
}

.nav-mobile {
    flex-direction: column;
    .navigation-link {
        margin-bottom: 1.25rem;

        a {
            font-size: 1.6875rem;
        }
    }
}

.navigation-link {
    margin-left: 1.25rem;

    a {
        font-size: 1.125rem;
        line-height: 1.4375rem;
        color: var.$white-text;
        text-decoration: none;
        transition: all ease-out .3s;

        &:hover {
            color: white;
            transition: all ease-in .3s;
        }

        &.router-link-active {
            color: white;
        }
    }
}

.dropdown-menu {
    background: var.$background-light-color;
    border-radius: 0;
    flex-direction: column;
    padding: .625rem .625rem;

    &.show {
        display:flex;
    }
     
    a {
        font-size: .9375rem;
        color: white;
        margin-bottom: .1875rem;

        &.router-link-active {
            font-weight: 600;
        }

        &:hover {
            color: var.$white-text;
            transition: all ease-in .3s;
        }
    }
}

@include media-breakpoint-up(md) { 
    .logo {
        position: relative;
        z-index: 0;
        img {
           max-height: none;
        }
    }
}

@include media-breakpoint-up(lg) { 
    .navigation-wrapper {
        padding: 1.25rem .625rem;
    }
}

@include media-breakpoint-up(xl) { 
    .navigation-wrapper {
        padding: 1.875rem 1.25rem 1.25rem .9375rem;
    }
}