.dashboard-header {
    img {
        max-height: 1.6875rem;
        margin-bottom: .9375rem;
        object-fit: contain;
        display: none;
    }

    h1 {
        font-size: 1.25rem;
    }
}

.dashboard-boxes {
    margin-top: 1.25rem;
}

.dashboard-box {
    background: var.$background-light-color;
    border-radius: .9375rem;
    padding: .9375rem .9375rem;
    width: 90%;
    padding-bottom: 0;
    color: white;
    min-height: 7.5rem;
    text-align: left;
    text-decoration: none;
    transition: all ease-in .3s;
    margin-bottom: .9375rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    svg {
        display: none;
    }
    
    h2 {
        font-size: 1.125rem;
    }

    p {
        font-size: .875rem;
    }

    .recipe-overview-img img {
        height: 15.625rem;
    }
}

.dashboard-box-wrapper {
    &:nth-child(2) {
        .dashboard-box {
            flex-direction: row-reverse;
            margin-left: auto;
        }
        .dashboard-box-icon {
            margin-left: -2.5rem;
            padding-left: 0;
            padding-right: .625rem;
            margin-right: 0;
        }
    }
}

.dashboard-box-icon {
    margin-right: -2.5rem;
    padding-left: .625rem;

    img {
        max-height: 4.375rem;
        min-height: 4.375rem;
        object-fit: contain;
    }
}

.dashboard-placeholder {
    height: 10rem;
    background-color: var.$background-light-color;
    border-radius: .9375rem;
    margin-top: 2.625rem;
}

.dashboard-meal-plan-title {
    text-align: left;
    color: var.$white-text;
    
    h3 {
        font-size: 1.125rem;
        margin-bottom: .625rem;
    }
}

.dashboard-meal-plan {
    margin-top: 9.375rem;
}

.dashboard-meal-plan-title {
    margin-bottom: 1.25rem;
}

.dashboard-meal-plan {
    padding-left: .9375rem;
    .recipe-overview-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
          }
    }

    .col-6 {
        width: 60%;
    }
}

.dashboard-overview {
    margin-bottom: 3.125rem;
}


.dashboard-recipe-recommendations {
    margin-top: 5rem;
}


@include media-breakpoint-up(sm) {
    .dashboard-meal-plan {
        .col-6 {
            width: 50%;
        }
    }
}

@include media-breakpoint-up(md) {
    .dashboard-meal-plan {
        padding-left: 0;

        .col-md-4 {
            width: 33.33333333333333%;
        }
    }
    .dashboard-header {
        img {
            display: block;
        }

        h1 {
            font-size: 1.5rem;
        }
    }
    
    .dashboard-boxes {
        margin-top: 1.25rem;
    }

    .dashboard-placeholder {
        height: 20rem;
    }
    
    .dashboard-box {
        background: var.$background-light-color;
        border-radius: .9375rem;
        padding: 1.25rem;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 100%;
        min-height: 15.625rem;
        flex-direction: column;

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }

        svg {
            transition: all ease-out .3s;
            width: 1.6875rem;
            stroke: white;
            height: 1.6875rem;
            display: inline-block;
            margin-top: .625rem;
        }
    
        &:hover {
            background: var.$input-color;
            cursor: pointer;
            color: white;
            transition: all ease-in .3s;
        }

        .recipe-overview-img img {
            height: 20rem;
        }
    }
    
    .dashboard-box-icon {
        margin-top: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -1.25rem;

        img {
            max-height: 7.5rem;
        }
    }

    .dashboard-box-wrapper {
        &:nth-child(2) {
            .dashboard-box {
                flex-direction: column;
                margin-left: auto;
            }
            .dashboard-box-icon {
                margin-left: 0;
                padding-left: 0;
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
}

@include media-breakpoint-up(lg) { 
    .dashboard-meal-plan {
        .col-lg-3 {
            width: 25%;
        }
    }
}


@include media-breakpoint-up(xl) {
    .dashboard-overview {
        margin-top: 3.75rem;
    }

    .dashboard-meal-plan {
        .recipe-overview-container {
            display: flex;
            flex-wrap: wrap;
            overflow-x: auto;
        }
    }
}