.weekly-plan-overview {
    h1 {
        margin-bottom: .9375rem;
    }

    p {
        font-size: 1rem;
        font-weight: normal;
        display: inline-block;
        color: white;
    }
}

.weekly-plan-box--btn {
    display: flex;
    align-items: center;
    margin-bottom: 1.4375rem;

    svg {
        width: 1.1875rem;
        height: 1.1875rem;
        margin-right: .625rem;
    }
}

.add-more-meals-box {
    margin-top: auto;
}

.weekly-plan-overview--panel {
    padding: 0;
    background-color: transparent;
}

.weekly-plan-wrapper {
    .accordion-item {
        border-radius: 0;
        margin-top: .9375rem;
        width: 100%;
        min-height: 0;
        max-width: none;
    }

    .accordion-header {
        text-transform: capitalize;
    }

    .accordion-collapse {
        h3 {
            font-size: 1.5rem;
            text-transform: capitalize;
            font-weight: bold;
            margin-bottom: .9375rem;
            color: white;  
        }
    }
}

.weekly-plan-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.weekly-plan-weekday {
    margin-bottom: 1.875rem;
}

.weekly-plan-boxes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.weekly-plan-box {
    position: relative;
    margin-right: .625rem;
    margin-bottom: .625rem;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        img {
            transform: scale(1.2);
            transition: all ease-in-out .4s;
        }
    }
}

.weekly-plan-box--text {
    margin-bottom: .3125rem;
    display: block;
    color: white;
}

.weekly-plan-box--image {
    width: 7.1875rem;
    height: 7.1875rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: .625rem;
    justify-content: center;

    img {
        transition: all ease-in-out .4s;
        max-height: 7.1875rem;
        object-fit: cover;
        border-radius: .625rem;
    }
}

.weekly-plan-quickview {
    .modal-dialog {
        max-width: 50rem;
        position: relative;
    }

    .modal-content {
        z-index: 1;
    }

    .btn-close {
        margin-left: auto;
    }

    .modal-body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        object-fit: cover;
        max-height: 12.5rem;
    }

    .weekly-plan-text {
        margin-top: 1.25rem;
        text-align: left;
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 1.6875rem;
            font-weight: normal;
            line-height: 2.4375rem;
        }

        span {
            font-size: .9375rem;
            margin-right: .625rem;
        }
    }

    .btn-close {
        filter: invert(1);
    }

    .modal-btn {
        margin-top: 1.25rem;
        .btn {
            width: 100%;
        }

        .btn-primary {
            margin-top: .625rem;
            padding: 0;
        }
    }

    .weekly-box-quickview-item-link {
        color: white;
        padding: .5625rem 1.875rem;
        display: inline-block;
        text-decoration: none;
    }

    .recipe-tags {
        margin-top: 1.25rem;
    }

    .bg-orange {
        position: absolute;
        right: .625rem;
        bottom: 0;
        z-index: -1;

        svg {
            width: 9.375rem;
            height: 9.375rem;
            fill: rgba(255, 255, 255, 0.2705882353);
        }
    }
}

@include media-breakpoint-up(md) {
    .weekly-plan-box {
        margin-right: 1.5625rem;
        margin-bottom: .9375rem;
    }
    .weekly-plan-box--image {
        width: 7.5rem;
        height: 7.5rem;
    
        img {
            max-height: 7.5rem;
        }
    } 
    .weekly-plan-weekday {
        width: 50%;
    }

    .weekly-plan-quickview {
        .modal-body {
            flex-direction: row;
        }

        img {
            width: 50%;
            max-width: 20rem;
            max-height: none;
        }

        .weekly-plan-text {
            padding-left: 1.25rem;
            h3 {
                font-size: 2rem;
            }

            span {
                margin-right: 1.25rem;
            }
        }

        .modal-btn {
            .btn {
                min-width: 9.375rem;
                width: auto;
            }

            .btn-primary {
                margin-left: .625rem;
                margin-top: 0;
            }
        }
    }

    .weekly-plan-overview {
        p {
            width: 70%;
        }
    }

    .weekly-plan-overview--panel {
        padding: 1.875rem 1.25rem;
        background-color: var.$background-light-color;
    }

    .weekly-plan-wrapper {
        .accordion-item {
            width: 50%;
            border: none;
        }
    }
}