// todo: use forward
@use "variables/var.scss";

$primary: var.$primary;
$input-placeholder-color: var.$white-text;
$input-plaintext-color: white;
$red: var.$red-color;

@import "~bootstrap/scss/bootstrap";
@import "base/base.scss";
@import "login/login.scss";
@import "account/account.scss";
@import "base/alerts.scss";
@import "base/button.scss";
@import "base/inputs.scss";
@import "base/modal.scss";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
