{% extends 'base.html.twig' %}

{% block title %}Hello AccountOverviewController!{% endblock %}

{% block body %}
{{parent()}}
    <div class="container">
        <account></account>
    </div>
{% endblock %}
