.footer {
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    flex-direction: column;
    padding-bottom: 1.25rem;

    p {
        color: var.$white-text;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: .3125rem;
        font-size: .9375rem;
    }

    .nav {
        justify-content: center;
    }

    img {
        max-width: 1.0625rem;
        margin-left: .3125rem;
    }

    a {
        color: var.$white-text;
        font-size: .9375rem;
    }
}

@include media-breakpoint-up(lg) { 
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    
        p {
            justify-content: flex-start;
            margin-bottom: .9375rem;
            text-align: left;
        }

        .nav {
            justify-content: flex-start;
        }

        a {
            color: var.$white-text;
            font-size: .9375rem;
        }
    }
}