.shopping-list-overview--panel {
    position: relative;
    overflow: hidden;
    min-height: 28.125rem;
    z-index: 0;
}

.create-shopping-list-btn {
    margin-top: 5rem;
    margin-left: auto;
}

.shopping-list {
    display: flex;
    flex-direction: column;
}

.shopping-list-create {
    margin-bottom: .9375rem;
    justify-content: space-between;
    flex-wrap: wrap;

    .btn-primary {
        margin-top: .9375rem;
        width: 100%;
    }
}

.shopping-list-bg {
    position: absolute;
    right: -2.5rem;
    z-index: -1;
    display: none;
    bottom: -2.5rem;
}

.shopping-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var.$border-color;
    padding: .625rem 0;
    position: relative;
}

.shopping-item--checkbox {
    width: 100%;
    margin-right: .625rem;

    input {
        -webkit-appearance: none;
        display: flex;
        position: relative;
        border: none;

        &::before {
            content: '';
            display: inline-block;
            height: 100%;
            min-height: 1.5625rem;
        }
        &::after {
            content: '';
        }

        &:checked {
            &::before {
                background-color: var.$primary;
                border: 1px solid var.$primary;
            }
        }
    }
}

.shopping-item--text {
    height: 100%;
    margin-left: .625rem;
    display: flex;
    align-items: center;
    gap: .3125rem;
    position: relative;
    width: 100%;

    span {
        color: var.$white-text;
        font-size: 1.125rem;
        word-break: break-all;
    }
}

.shopping-item--checkbox input:checked + .shopping-item--text {
    text-decoration: line-through;
}

.shopping-item--update {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.shopping-item--icon {
    width: 2.1875rem;
    min-width: 2.1875rem;
    height: 2.1875rem;
    background: var.$background-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .3125rem; 

    &:hover {
        cursor: pointer;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
        stroke: var.$white-text;
    }
}

.item-quantity--input {
    width: 50%;
    margin-right: .75rem;
}

.item-unit--input {
    width: 45%;
}

.item-name--input {
    width: 100%;
    margin-top: .9375rem;
}

.shopping-item--change {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: var.$background-light-color;
    flex-wrap: wrap;
    padding: .75rem .3125rem;
    border: 1px solid var.$border-color;

    &.active {
        display: flex;
    }
}

.shopping-item--quantity {
    min-width: 2.1875rem;
}

@include media-breakpoint-up(md) {  
    .shopping-item--checkbox {
        input {
            &:checked {
                &::after {
                    content: '';
                    left: .75rem;
                    top: .4375rem;
                }
            }
        }
    }

    .shopping-item--change {
        display: none;
        position: absolute;
        left: 2.5rem;
        top: 0;
        width: 90%;
        border: none;
        padding: 0;
        background-color: var.$background-light-color;
    
        &.active {
            display: flex;
        }
    }

    .shopping-list-create {
        flex-wrap: nowrap;

        .btn-primary {
            margin-top: 0;
            margin-left: .75rem;
            width: auto;
        }
    }

    .shopping-item--icon {
        width: auto;
        height: auto;
        background: transparent;

        svg {
            width: 1.25rem;
            height: 1.25rem;
            stroke: var.$white-text;
        }
    }

    .item-quantity--input {
        width: 20%;
        margin-right: .625rem;
    }
    
    .item-unit--input {
        width: 15%;
        margin-right: .625rem;
    }
    
    .item-name--input {
        width: 55%;
        margin-top: 0;
    }

    .shopping-list-bg {
        display: block;
    }
    
}