name: deploy-github-action
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: npm setup node.js
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: |
          npm ci
          npm run build
      - name: NPM artifact
        uses: actions/upload-artifact@v3
        with: 
          name: npm-build
          retention-days: 1
          path: public/build/
  deploy-staging:
    needs: build
    environment: dev
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: Enviroment for PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"
          #extensions: mbstring, xml, ctype, iconv, intl, pdo, pdo_mysql, dom, filter, gd, iconv, json, mbstring, pdo
          tools: composer:v2
          coverage: none
        env:
          update: true

      - name: validate composer.json and composer.lock
        run: composer validate

      - name: composer install
        run: composer install --no-dev --no-progress --no-scripts --prefer-dist -a

      - name: download artifact
        uses: actions/download-artifact@v3
        with: 
          name: npm-build
          path: public/build

      - name: install ssh key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOST }}

      - name: rsync files
        run: rsync -azP --exclude '.env' --exclude '.env.local' --exclude '.env.test' ./ ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:/var/www/clients/client1/${{ secrets.SSH_FOLDER }}/web/

      - name: clear cache
        run: ssh -t -t ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} "cd /var/www/clients/client1/${{ secrets.SSH_FOLDER }}/web/ && php bin/console cache:clear"   
  deploy:
    needs: build
    environment: prod
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: Environment for PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"
          #extensions: mbstring, xml, ctype, iconv, intl, pdo, pdo_mysql, dom, filter, gd, iconv, json, mbstring, pdo
          tools: composer:v2
          coverage: none
        env:
          update: true

      - name: validate composer.json and composer.lock
        run: composer validate

      - name: composer install
        run: composer install --no-dev --no-progress --no-scripts --prefer-dist -a

      - name: download artifact
        uses: actions/download-artifact@v3
        with: 
          name: npm-build
          path: public/build

      - name: install ssh key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOST }}

      - name: rsync files
        run: rsync -azP --exclude '.env' --exclude '.env.local' --exclude '.env.test' ./ ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:/var/www/clients/client1/${{ secrets.SSH_FOLDER }}/web/

      - name: clear cache
        run: ssh -t -t ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} "cd /var/www/clients/client1/${{ secrets.SSH_FOLDER }}/web/ && php bin/console cache:clear"